- content_for(:title) do
  Lessons - Launch Academy

%ul.breadcrumbs
  %li.current= link_to "Lessons", lessons_path

%h2 Lessons

%dl.sub-nav
  %dt Filter:
  %dd{ class: ("active" unless params[:type]) }= link_to "All"
  %dd{ class: ("active" if params[:type] == "article") }
    = link_to "Articles", lessons_path(type: "article")
  %dd{ class: ("active" if params[:type] == "challenge") }
    = link_to "Challenges", lessons_path(type: "challenge")
  %dd{ class: ("active" if params[:type] == "exercise") }
    = link_to "Exercises", lessons_path(type: "exercise")
  %dd{ class: ("active" if params[:type] == "tutorial") }
    = link_to "Tutorials", lessons_path(type: "tutorial")

- if params[:query]
  .result-count
    - if @lessons.empty?
      = "No results found for \"#{params[:query]}\"."
    - else
      = "Found #{@lessons.length} result(s) for \"#{params[:query]}\"."

.lessons
  - @lessons.each do |lesson|
    .lesson
      .lesson-type{ class: lesson.type }= lesson.type
      %h3.title= link_to lesson.title, lesson
      .description
        = lesson.description
